<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%=@user.name%></dd>
  </dl>
</div>

<% i = 0 %>
<div class="container-fluid">
  <% Backlog.all.each do |backlog| %>
      <%= render inline: '<div class="row">' if i%2 == 0 %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%=backlog.name%>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Total items:</dt>
              <dd><span class="label label-default"><%=backlog.items.count%></span></dd>
              <dt>Items to be estimated:</dt>
              <dd><span class="label label-primary"><%=Item.for_backlog_and_estimator_not_estimated_yet(backlog,@user).size%></span></dd>
              <dt>Items already estimated:</dt>
              <dd><span class="label label-success"><%=Item.for_backlog_and_estimator_already_estimated(backlog,@user).size%></span></dd>
            </dl>
          </div>
          <% if current_user == @user %>
              <div class="panel-footer">
                <% if backlog.items.any_to_be_estimated_initially?(backlog, @user)%>
                    <%= link_to 'Kick off the initial estimation', estimations_initial_backlog_path(backlog), class: 'btn btn-danger' %>
                <% end %>
                <% if backlog.items.any_to_be_estimated_next?(backlog, @user)%>
                    <%= link_to 'Estimate the backlog items as next', estimations_next_backlog_path(backlog), class: 'btn btn-primary' %>
                <% end %>
              </div>
          <% end %>
        </div>

      </div>
      <%= render inline: '</div>' if i%2 == 1 %>
      <% i += 1 %>
  <% end %>
</div>