<% percentage = percentage(@estimated,@total) %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=@estimated%>" aria-valuemin="0" aria-valuemax="<%=@total%>" style="min-width: 2em;width:<%=percentage%>">
    <%=percentage%>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @item.name %>
  </div>
  <div class="panel-body">
    <%= @item.description %>
  </div>
  <div class="panel-footer">
    <%= form_tag estimations_pass_backlog_path(@item.backlog), method: :post do %>
        <% Point.all.each do |point| %>
            <%=radio_button_tag 'value', point.value, false, disabled: false%>
            <%=label_tag point.value %>
        <% end %>
        <%= hidden_field_tag 'item_id', @item.id %>
        <%= submit_tag 'Re-Estimate', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
