<%= render 'shared/title', title: "Showing <b>#{@backlog.name}</b> including <b>#{@backlog.items.count}</b> items".html_safe %>
<%= render 'backlogs/backlog', backlog: @backlog, buttons: {edit: true, destroy: true} %>
<% if current_user.admin? %>
    <%= render 'items/form' %>
<% end %>

<div class="container-fluid">
    <%= render 'shared/subtitle', title: 'Existing items' %>
    <% i = 0 %>
    <% @backlog.items.each do |item| %>
        <%= render inline: '<div class="row">'.html_safe if i%2 == 0 %>
        <%= render 'items/item', item: item %>
        <%= render inline: '</div>'.html_safe if i%2 == 1 %>
        <% i += 1%>
    <% end %>
</div>
<% if current_user.admin? %>
    <%= render 'items/assign_item_to_user' %>
<% end %>